* {
  padding: 0;
  margin: 0;
}

html {
  /* overflow: hidden; */
}

body {
  background-color: steelblue;
}

.active {
  background-color: yellowgreen !important;
}

.numMob,
.returnMob {
  display: none !important;
}

.text-container {
  height: calc(100vh - 430px);
  max-width: 840px;
  padding: 20px;
  margin: auto;
  /* height: 180px; */
  background-color: black;
}
.text {
  max-width: 840px;
  height: calc(100vh - 430px);
  /* height: 180px; */
  background-color: white;
}

.clear {
  position: absolute;
  left: 50%;
  color: black;
  top: 25%;
  transform: translate(-50%);
}

.container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.keyboard {
  background-color: #c8cccd;
  font-size: 15px;
  height: 350px;
  max-width: 840px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.upper-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.upper-section .col-1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.k-btn {
  background-color: black;
  color: #f8f9f5;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.k-btn-special {
  height: 50px;
  width: 50px;
  background-color: black;
  color: #f8f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex: 1;
}

.lower-section > div {
  display: flex;
  justify-content: space-between;
}

.Space {
  justify-self: stretch;
  align-self: stretch;
  background-color: black;
  height: 50px;
  width: 250px;
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.Escape {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 30px;
  }
  html {
    font: 10px;
  }
  .text-container {
    height: calc(100vh - 440px);
  }
  .text {
    height: calc(100vh - 440px);
  }
  .keyboard {
    /* background-color: aqua; */
    height: auto;
  }
  .k-btn-special,
  .AltRight,
  .AltLeft,
  .ControlRight,
  .ControlLeft,
  .windows {
    display: none;
  }
  .k-btn {
    width: 45px;
  }
  .lower-section > div {
    display: flex;
    justify-content: center;
  }

  .numMob,
  .returnMob {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .Escape {
    display: none;
  }
  .upper-section {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  .text-container {
    height: calc(100vh - 242px);
  }
  .text {
    height: calc(100vh - 242px);
  }
  .keyboard {
    /* background-color: red; */
    padding: 5px;
    font-size: 11px;
  }
  .k-btn {
    margin: 1px;
    height: 30px;
    width: 35px;
  }
  .Space {
    width: 200px;
    margin: 1px;
    height: 30px;
  }
}
